<div id="create" style="border-right: solid black 1px; width: 50%;">
    <h2 style="margin-top: 0;">Write a Blog</h2>
    <form action="/create" method="POST">
        <input type="text" name="title" placeholder="title..."><br>
        <textarea name="body" cols="18" rows="8" placeholder="body..."></textarea><br>
        <button type="submit">Post</button>
    </form>
   <div style="margin-top:20px;"> <a href="/random-blog">Get a Random Blog Here!</a></div>
</div>
<div id="blogs" style="padding-left: 30px;">
    <h2 style="margin-top: 0;">Recent Blogs</h2>
    <% for (let blog of blogs) {%>
        <div class="blog" style="border: solid black 1px; margin: 2px;width:400px; padding:10px ">
            <b><%=blog.title%></b>
            <div><%=blog.body %> </div>
            <a href="/delete/<%=blog._id%> ">Delete</a>
            <a href="/update/<%=blog._id%>" style="float: right;">update</a>
        </div>
    <%}%>  
</div>                                                                                                      