<div class="blog" style="border: solid black 1px; margin: 2px;width:400px; padding:10px ">
    <b><%=blog.title%></b>
    <div><%=blog.body %> </div>
    <a href="/delete/<%=blog._id%> ">Delete</a>
    <a href="/update/<%=blog._id%>" style="float: right;">update</a>
</div>